USE [DBPrueba]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 05/03/2026 10:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[cdTarea] [int] IDENTITY(1,1) NOT NULL,
	[dsTitulo] [nvarchar](100) NOT NULL,
	[dsDescripcion] [nvarchar](255) NULL,
	[cdEstado] [nvarchar](50) NOT NULL,
	[dtCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tareas] ADD  DEFAULT (getdate()) FOR [dtCreacion]
GO
/****** Object:  StoredProcedure [dbo].[SIS_Tareas_D]    Script Date: 05/03/2026 10:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Tareas_D]
    @jsParametro NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @cdTarea INT;

    -- Extraemos solo el ID del JSON que enviará Angular
    SELECT @cdTarea = cdTarea 
    FROM OPENJSON(@jsParametro) WITH (cdTarea INT);

    DELETE FROM Tareas WHERE cdTarea = @cdTarea;

    SELECT '{"mensaje": "Tarea eliminada correctamente"}' AS Respuesta;
END
GO
/****** Object:  StoredProcedure [dbo].[SIS_Tareas_IU]    Script Date: 05/03/2026 10:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIS_Tareas_IU]
    @jsParametro NVARCHAR(MAX) -- Aquí llega el objeto que mandas desde Angular
AS
BEGIN
    SET NOCOUNT ON;

    -- Declaramos variables para extraer los datos del JSON
    DECLARE @cdTarea INT, @dsTitulo NVARCHAR(100), @dsDescripcion NVARCHAR(255), @cdEstado NVARCHAR(50);

    -- "Abrimos" el JSON que viene del Backend
    SELECT 
        @cdTarea = cdTarea,
        @dsTitulo = dsTitulo,
        @dsDescripcion = dsDescripcion,
        @cdEstado = cdEstado
    FROM OPENJSON(@jsParametro)
    WITH (
        cdTarea INT,
        dsTitulo NVARCHAR(100),
        dsDescripcion NVARCHAR(255),
        cdEstado NVARCHAR(50)
    );

    -- Si el cdTarea es 0 o NULL, es una tarea nueva (INSERT)
    IF @cdTarea IS NULL OR @cdTarea = 0
    BEGIN
        INSERT INTO Tareas (dsTitulo, dsDescripcion, cdEstado, dtCreacion)
        VALUES (@dsTitulo, @dsDescripcion, @cdEstado, GETDATE());
        
        SELECT '{"mensaje": "Tarea creada con éxito"}' AS Respuesta;
    END
    ELSE
    -- Si ya existe, la actualizamos (UPDATE)
    BEGIN
        UPDATE Tareas 
        SET dsTitulo = @dsTitulo, 
            dsDescripcion = @dsDescripcion, 
            cdEstado = @cdEstado
        WHERE cdTarea = @cdTarea;

        SELECT '{"mensaje": "Tarea actualizada con éxito"}' AS Respuesta;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[SIS_Tareas_S]    Script Date: 05/03/2026 10:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SIS_Tareas_S]
    @jsParametro NVARCHAR(MAX) -- El backend siempre envía esto, aunque esté vacío
AS
BEGIN
    SET NOCOUNT ON;

    -- Seleccionamos las tareas y las convertimos a JSON
    -- FOR JSON PATH es lo que permite que el StringBuilder de C# reciba texto
    SELECT 
        cdTarea, 
        dsTitulo, 
        dsDescripcion, 
        cdEstado, 
        dtCreacion
    FROM Tareas
    FOR JSON PATH; 
END

GO
